<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
        <property name="database.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="database.url" value="jdbc:mysql://localhost:3306/ssm?characterEncoding=utf-8&amp;serverTimezone=GMT%2B8"/>
        <property name="database.username" value="test"/>
        <property name="database.password" value="123456"/>
    </properties>
    <typeAliases>
        <!-- 别名 -->
        <typeAlias alias="role" type="ch03.pojo.Role"/>
        <typeAlias alias="user" type="ch04.pojo.User"/>
        <package name="ch05.pojo"/>
    </typeAliases>
    <!-- 类型处理器 -->
    <typeHandlers>
        <typeHandler handler="ch04.handler.MyTypeHandler" javaType="string" jdbcType="VARCHAR"/>
    </typeHandlers>
    <!-- 对象工厂 -->
    <objectFactory type="ch04.factory.MyObjectFactory">
        <property name="prop1" value="value1"/>
    </objectFactory>
    <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 数据库厂商标识 -->
<!--    <databaseIdProvider type="DB_VENDOR">-->
<!--        <property name="Oracle" value="oracle"/>-->
<!--        <property name="MySQL" value="mysql"/>-->
<!--        <property name="DB2" value="db2"/>-->
<!--    </databaseIdProvider>-->
    <databaseIdProvider type="ch04.provider.MyDatabaseIdProvider">
        <property name="msg" value="自定义DatabaseIdProvider"/>
    </databaseIdProvider>

    <!-- 映射文件 -->
    <mappers>
        <mapper resource="ch03/mapper/RoleMapper.xml"/>
        <mapper resource="ch04/mapper/UserMapper.xml"/>
        <mapper resource="ch04/mapper/FileMapper.xml"/>
        <package name="ch05.mapper"/>
    </mappers>
</configuration>