<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 数据库连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssm?characterEncoding=utf-8&amp;serverTimezone=GMT%2B8"/>
        <property name="username" value="test"/>
        <property name="password" value="123456"/>
        <!-- 连接池最大数据库连接数 -->
        <property name="maxOpenPreparedStatements" value="255"/>
        <!-- 最大等待连接中的数量 -->
        <property name="maxIdle" value="5"/>
        <!-- 最大等待毫秒数 -->
        <property name="maxWaitMillis" value="10000"/>
    </bean>

    <!-- 集成MyBatis,配置SalSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 引入mybatis配置文件 -->
        <property name="configLocation" value="classpath:ch13/config/mybatis-config.xml"/>
    </bean>

    <!-- 配置MapperScannerConfigurer，由Spring来管理对应的mapper对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定扫描的基类 -->
        <property name="basePackage" value="ch13.mapper"/>
        <!-- 指定在Spring中定义SqlSessionFactory的Bean名称-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 使用sqlSessionTemplateBeanName将覆盖SqlSessionFactoryBeanName的配置 -->
        <!--        <property name="sqlSessionTemplateBeanName" value="SqlSessionFactory"/>-->
        <!-- 指定标注，这样才能扫描成为Mapper -->
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>
</beans>